<mat-card *ngIf="!authorized">Error: Unauthorized </mat-card>
<mat-card *ngIf="authorized">
    <div class="container">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div style="display: flex; flex-direction: column; margin:50px; max-width:400px;">
                <h1>Add a new project</h1>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label for="nom_projet"> Project Name
                    </mat-label>
                    <input matInput type="text" class="form-control" name="nom_projet" [(ngModel)]="form.nom_projet"
                        required minlength="5" #nom_projet="ngModel">
                    <mat-error *ngIf="nom_projet.errors && f.submitted">
                        <span *ngIf="nom_projet.errors?.['required']">Project Name is required</span>
                        <span *ngIf="nom_projet.errors?.['minlength']">Project name must be at least 5 characters</span>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Add Project</button>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Project adding failed!<br />{{ errorMessage }}
                </div>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful && hideSuccessMessage">
            Project has been added !
        </div>
    </div>
</mat-card>
<mat-card *ngIf="authorized">
    <form name="form_delete" (ngSubmit)="f.form.valid && onDelete()" #f="ngForm" novalidate>
        <mat-form-field appearance="fill">
            <mat-label>Projects</mat-label>
            <mat-select [(ngModel)]="id_to_delete" #project="ngModel" name="project">
                <mat-option *ngFor="let item of projects" [value]="item.id_project">
                    {{item.project_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)=onDelete() color="warn">Delete Project</button>
    </form>
    <div class="alert alert-success" *ngIf="isDeleted && hideSuccessMessage">
        Project deleted successfuly
    </div>
    <div class="alert alert-success" *ngIf="isDeletedFailed && !isDeleted && hideSuccessMessage">
        {{MessageDelete}}
    </div>
</mat-card>